/* 模仿QQ邮箱首页 xlogin 样式,
   https://mail.qq.com
   time: 2017.09.12
   果然这部分看起来小小的，其实比父页面麻烦多了
*/

/* 字体 */
body {
	font: 12px "lucida Grande",Verdana,"Microsoft YaHei";
	display: block;
}

body, ul {
	margin: 0;
}

/* a 标签全局处理 */
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.login {
	margin: 0 auto; /* 居中大法好 */
	width: 334px;
	border: 0;
	background-color: #ffffff;
    position: relative;
}

/* 头部 tab */
.login .header {
	height:  50px;
	border-bottom: 1px solid #c0cdd9; /* 有了这个，看起来就是 tab 了 */
	background-color: #f9fbfe;
    position: relative;
}

/* 头部组 */
.header .switch {
	left: 53px;
	height: 46px;
	bottom: 0;
	font-size: 16px;
    position: absolute;
}

/* 没有选中的 tab */
.header .switch .switch_btn {
    display: inline-block; /* 可以并排的 block，可以设置 line-height 了 */
	color: #999;
	height: 45px;
	line-height: 45px;
	outline: 0;
}

/* 选中的 tab */
.header .switch .switch_btn_focus {
    display: inline-block;
	color: #333;
	height: 45px;
	line-height: 45px;
	outline: 0;
}

/* tab 组 */
.header .switch #switcher_qlogin {
	margin-right: 60px;
}

/* tab 中 a 标签的处理 */
.header .switch a {
	text-decoration: none;
}

/* 反正放上去就变成选中的颜色，没问题 */
.header .switch a:hover {
	color: #333;
}

/* 登陆失败的错误提示框 */
.loginTips {
	margin-bottom: -26px;
	min-height: 28px;
	height: auto;
	padding-top: 4px;
    position: relative;
}

.loginTips .error_tips {
	width: auto;
	color: #c00;
	border: none;
	background: none;
	position: static;
}

/* 登陆失败的那句错误提示 */
.loginTips .error_tips .error_message {
	color: red;
	padding-right: 15px;
	padding-left: 20px;
	line-height:  18px;
	vertical-align: middle;
	text-align: left;
    display: inline-block;
}

/* 二维码登陆框大小和定位 */
.qlogin {
	height: 317px;
	width: 304px;
	margin: 0 auto;
    position: relative;
}

.qlogin .qlogin_show {
	top: 25px;
	left: 12px;
	width: 280px;
	margin-top: 10px;
	height: 200px;
	overflow: hidden;
    position: absolute;
}

.qlogin .qlogin_list {
	width: 294px;
	height: 100%;
	text-align: center;
    position: absolute;
}

/* 二维码大小和定位 */
.qlogin .qr_eara {
	width: 156px;
	left: -14px;
	height: 100%;
	text-align: center;
    display: inline-block;
	position: relative;
}
/* 安全登录，防止被盗 */
.qlogin .qr_eara .qr_safe_tips {
	height: 20px;
	line-height: 20px;
	margin-left: 5px;
	font-size: 14px;
	font-weight: 700;
    text-align: center;
}

/* 网上生成的二维码图片格式和 qq 邮箱的位置略微不同，调到基本很接近了 */
.qlogin .qr_eara .qr_img {
	left: 12px;
	height: 126px;
	width: 126px;
	top: 30px;
	border: 1px solid #D3D3D3;
	padding: 3px;
    position: absolute;
}

/* 弹出来的手机 QQ 图片 */
.qr_tips {
	left: 163px;
	top: 46px;
	height: 200px;
	width: 160px;
	opacity: 0;
	z-index: 999; /* 一定要弹出来 */
	position: absolute;
}

.qr_tips .qr_tips_pic {
	width: 160px;
	height: 196px;
	top: 0;
	position: absolute;
	background: url(../img/small_24_tiny.png);
}

/* 真正的 hover 区域 */
.qlogin .qr_eara .qr_for_hover {
	background: #000;
	height: 134px;
	width: 134px;
	left: 12px;
	top: 29px;
	opacity: 0.01;
	z-index: 1000; /* 要比手机 QQ 那个要高 */
	position: absolute;
}

/* 使用QQ手机版扫描登录 */
.qlogin .qr_eara .qr_app_name {
	bottom: 0;
	left: 4px;
	width: 100%;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    position: absolute;
}

/* 下面是个图片来的 */
.qlogin .qr_eara .qr_info_link {
	background-position: 0 -541px;
	color: grey;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	width: 152px;
	text-decoration: none;
    background-repeat: no-repeat;
    background-image: url(../img/icon_3_tiny.png);
}

.qlogin .qr_eara .qr_info_link:hover {
	background-position: 0 -573px;
	text-decoration:  none;
}
/* 原网页 bottom 和其他内容不在同一个父级组件中，不方便，这里全部重写，重新定位了 */
.qlogin .bottom {
	margin-bottom: 15px;
	width: 284px;
	right: 10px;
	height: 16px;
	top: 284px;
	position: absolute;
	text-align: right;
	font-size: 12px;
	display: block;
}

/* 下次自动登录前面的框 */
.check_tips {
	bottom: -1px;
	left: 0px;
	position: absolute;
}

/* 没选的，这也是个图片，啊啊啊 */
.check_tips .uncheck {
	height: 16px;
	width: 16px;
	border: 1px solid #96a5b4;
	float: left;
	background-image: url(../img/icon_ptloginpage1e9c5d.png);
	background-position: -38px -16px;
}

/* 选了的，这也是个图片，啊啊啊 */
.check_tips .check {
	height: 16px;
	width: 16px;
	border: 1px solid #96a5b4;
	float: left;
	background-image: url(../img/icon_ptloginpage1e9c5d.png);
	background-position: -59px -17px;
}

/* 下次自动登录 */
.check_tips .check_tips_word {
	height: 18px;
	line-height: 18px;
	cursor: pointer;
	margin-left: 5px;
}

/* | */
.bottom .dotted {
	color: #bfbfbf;
	margin: 0px 5px 0px 1px; 
}

/* 重新处理 a 标签 */
.bottom a {
	color: #225592;
	text-decoration: none;
}

.bottom a:hover {
	color: #225592;
	text-decoration: underline;
}

/* 登录框大小及定位 */
.web_qr_login {
	height: 330px;
	width: 304px;
	margin: 0 auto;
	overflow: hidden;
    display: block;
    position: relative;
}

.web_qr_login .web_qr_login_show {
	top: 0;
    position: absolute;
}

/* 定位 */
.web_login {
    min-height: 289px;
	width: 306px;
	padding-bottom: 0;
	position: relative;
}

/* 表单 */
.web_login .login_form {
	width: 284px;
	margin: 0 auto;
}

.web_login .username_eara {
	height: 50px;
	position: relative;
}

/* 就那句看起来是内嵌在输入框的提示，万万没想到是这样实现的 */
.web_login .input_tips {
	top: 12px;
	left: 13px;
	font-size: 14px;
	line-height: 16px;
	color: #aaa;
	cursor: text;
    position: absolute;
}

/* 就那句看起来是内嵌在输入框的提示，万万没想到是这样实现的 */
.web_login .input_tips_focus {
	top: 12px;
	left: 13px;
	font-size: 14px;
	line-height: 16px;
	color: #ddd;
	cursor: text;
    position: absolute;
}

/* 在输入框外面弄个带圆角的框框 border，方便后面带个 X */
.web_login .input_box {
	background: none;
	border: 1px solid #96a5b4;
	height: 38px;
	width: 282px;
	border-radius: 2px;
}

/* 输入框样式 */
.web_login .input_box_style {
    border: none; /* 边框弄掉 */
	top: 0px;
	padding: 10px 40px 10px 10px;
	left: 0px;
	border-radius: 3px;
	width: 232px;
	height: 18px;
	line-height: 18px;
	background: 0 0;
	color: #333;
	font-size: 16px;
}

/* 输入框最右边的 X  */
.web_login .input_box_del {
	right: 10px;
	height: 22px;
	width: 22px;
	top: 10px;
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background: 0 0;
	background-image: url(../img/ptlogin_delete1e9c5d.png);
}

/* 这个放上去也有不同的 */
.web_login .input_box_del:hover {
	right: 10px;
	height: 22px;
	width: 22px;
	top: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
	background: 0 -22px;
	background-image: url(../img/ptlogin_delete1e9c5d.png);
    position: absolute;
}

.web_login .password_eara {
	height: 50px;
	position: relative;
}

.web_login .tips {
	height: 30px;
	width: 280px;
	margin: 0 auto;
    position: relative;
}

/* 提交按钮 */
.web_login .submit {
	margin-top: 23px;
	height: 177px;
	position: relative;
}

/* 这里调得和原网页样式有一点点差别，“登录”两个字中间的宽度有点不同 */
.web_login .submit_button {
	right: 0px;
	top: 25px;
	background-color: #5a98de;
	border-radius: 3px;
	left: 0;
	z-index: 1000; /* 被选框挡住了一下 */
    position: absolute;
}

.web_login .submit_button .btn {
	background: none;
	height: 40px;
	line-height: 39px;
    font-size: 18px;
    color: #fff;
	width: 100%;
	font-weight: normal;
	border: none;
	cursor: pointer;
}

/* 微调 */
.submit .check_tips {
	left: 0px;
	top: -9px;
}

/* 登录框底部那几个链接 */
.web_qr_login .bottom {
	width: 282px;
	right: 12px;
	margin-bottom: 15px;
	bottom: 2px;
	height: 16px;
	font-size: 12px;
    text-align: right;
    position: absolute;
}

/* 二维码动画 */
@keyframes qrSlide {
	0% {left: 12px;}
	10% {left: -40px;}
	90% {left: -40px;}
	100% {left: 12px;}
}

@keyframes qrTipsShow {
	0% {opacity: 0;display: block;}
	10% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;display: none;}
}

.qr_img_box_slide {
    animation: qrSlide 10s;
    -webkit-animation: qrSlide 10s;
}

.qr_tips_show {
    animation: qrTipsShow 10s;
    -webkit-animation: qrTipsShow 10s;
}